<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{ .title }} - Recherche</title>
</head>
<body>

<div>
    {{if len .repos | eq 0 }}
    <p>Aucun projet récent n'utilise {{ .language }} :(</p>
    {{else}}
    <p>{{ .language }} : {{ .sumloc }}</p>

    <ul>
        {{ range $repo := .repos }}
        <li><a href="{{ .Url }}">{{ .NameWithOwner }}</a>: {{ .Loc }}</li>
        {{ end }}
    </ul>

    <br/>

    <div style="height: 5%; width: 30%">
        <canvas id="pieChart"></canvas>
    </div>

    <!-- Pie chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        function random_rgb() {
            const ro = Math.round // Round
            const r = Math.random
            const m = 255 // Max value
            return 'rgb(' + ro(r()*m) + ',' + ro(r()*m) + ',' + ro(r()*m) + ')'
        }

        const data = {
            labels: [
                {{ range $repo := .repos }}
                ' {{ .Name }} ',
                {{ end }}
            ],
            datasets: [{
                data: [
                    {{ range $repo := .repos }}
                    {{ .Loc }},
                    {{ end }}
                ],
                backgroundColor: [
                    {{ range $repo := .repos }}
                    random_rgb(),
                    {{ end }}
                ]
            }]
        }

        new Chart(document.getElementById('pieChart'), {
            type: 'pie',
            data: data,
        })
    </script>
    {{end}}
</div>

</body>
</html>